table {
  width: 100%;
  padding: 10px;
}
.table-pos{
  margin-left:15em;
  margin-right:15em;
}

.example-spacer {
  flex: 1 1 auto;
}
#searchBar{
  margin-left: 15em;
  width: 40%;
  padding: 5px;
}
#searchBar input{
  padding: 5px;
  padding-left: 20px;
}
nav a {
  padding: 1em 10.5em;
  text-decoration: none;
  margin-top: 5em;
  display: inline-block;
  background-color: #eee;

}
#toggle-pos{
  margin-left:7em;
}

nav a:visited, a:link {
  color: #14816f;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
