<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>GAMMER LOBBY</div>
</mat-toolbar>

<mat-card>
  <div id="button">
  <button mat-flat-button color="primary" [routerLink]="['/login']" >Login</button>
  </div>
</mat-card>

<!-- <nav style="margin-left:10em">
    <a id="toggle-pos" routerLink="/player-rankings">Player Rankings</a>
    <a routerLink="/games-list">Admin</a>
</nav> -->
<router-outlet></router-outlet>

<!-- <mat-sidenav-container> -->

  <!-- Sidenav -->
  <!-- <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/add-player">
          <mat-icon>format_list_bulleted</mat-icon> Add Player
        </a>
      <a mat-list-item routerLinkActive="active" routerLink="/player-list">
        <mat-icon>format_list_bulleted</mat-icon> View Players
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/games-list">
        <mat-icon>format_list_bulleted</mat-icon> View Games
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/player-rankings">
        <mat-icon>format_list_bulleted</mat-icon> Player rankings
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/join-game">
        <mat-icon>format_list_bulleted</mat-icon> Join game
      </a>
    </mat-nav-list>
  </mat-sidenav> -->

  <!-- Main content -->
  <!-- <mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container> -->
